# Data Science Tools and Ecosystem

## Author
Micah B

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Scientists
- List popular libraries for Data Science
- List popular tools used by Data Scientists
- Give examples of Python arithmetic

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|:----------------:|
|Anaconda|
|Rstudio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python
> x = 3
> y = 7
> print(x+y)

In [1]:
# this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335